<body style="background-color: rgb(247, 247, 247);">


    <div class="bootsrap-wrapper text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3" id="loginbox">
                    <div class="container text-center">
                        <img class="img-fluid" style="width: 300px; margin-top: 30px;"
                            src="https://www.oplinnovate.com/assets/images/banner_shape.svg">
                    </div>
                    <br>

                    <!-- Form Start Hear -->
                    <form [formGroup]="updatePassData" (ngSubmit)="UpdatePasswordByUsername()">
                            <h1>Update PassWord</h1>
                          <!-- USERNAME -->
                          <mat-form-field class="full-width">
                              <mat-label>Enter Username</mat-label>
                              <input type="username" formControlName="username" name="username" matInput required />
                            </mat-form-field>
                            <span class="alert alert-danger" *ngIf="username && username.invalid && username.touched">
                                Please enter Valid Username
                            </span>
                            <hr>
                            <!-- Password -->
                        <mat-form-field class="full-width">
                            <mat-label>Enter New PassWord</mat-label>
                            <input type="password" formControlName="password" name="password" matInput required />
                        </mat-form-field>
                        <span class="alert alert-danger" *ngIf="password && password.invalid && password.touched">
                            PassWord Should be Minimum 8 Character
                        </span>
                        <hr>
                        <div class="container text-center">
                            <button type="submit" style="margin-right: 10px;"
                                class="btn btn-success">Verify</button>
                        </div>
                    </form>
                    <!-- {{userdata | json}} -->
                </div>
            </div>
        </div>
    </div>
</body>