<body style="background-color: rgb(247, 247, 247);">


    <div class="bootsrap-wrapper text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3" id="loginbox">
                    <div class="container text-center">
                        <img class="img-fluid" style="width: 300px; margin-top: 30px;"
                            src="https://www.oplinnovate.com/assets/images/banner_shape.svg">
                    </div>
                    <br>

                    <!-- Form Start Hear -->
                    <form [formGroup]="otpdata">
                        <mat-form-field class="full-width">
                            <mat-label>Enter Register Email</mat-label>
                            <input type="email" formControlName="email" name="email" matInput  />
                        </mat-form-field>
                        <span class="alert alert-danger" role="alert" *ngIf="email && email.invalid && email.touched">
                            Please Enter Correct Email Format
                        </span>
                        <hr>

                        <mat-form-field class="full-width">
                            <mat-label>Date Of Birth</mat-label>
                            <input type="date" formControlName="dob" name="dob" matInput required />
                        </mat-form-field>
                        <!-- <mat-form-field class="full-width">
                            <mat-label>Enter Register Email</mat-label>
                            <input type="email" [(ngModel)]="userdata.email" name="email" matInput required />
                        </mat-form-field>

                        <mat-form-field class="full-width">
                            <mat-label>Date Of Birth</mat-label>
                            <input type="date" [(ngModel)]="userdata.dob" name="dob" matInput required />
                        </mat-form-field> -->



                        
                        <div class="container text-center">
                            <button type="submit" style="margin-right: 10px;" 
                                (click)="onSubmit()" mat-raised-button color="warn">Send OTP</button>
                        </div>
                    </form>
                    <!-- {{userdata | json}} -->
                </div>
            </div>
        </div>
    </div>
</body>